<h1>Hullo</h1>
<h2>You should <%= link_to 'follow me on twitter', 'http://twitter.com/digitalWestie', :target => "_blank" %>.</h2>

<p>This web-hack was written by Rory Gianni as part of <%= link_to 'Culture Hack Scotland 2012', 'http://www.welcometosync.com/hack/', :target => "_blank" %>. The data set of Glasgow-related artists and tracks was provided by <%= 'OpenEar music', 'http://www.openearmusic.com/', :target => "_blank" %> and <%= link_to 'Glasgow UNESCO City of Music', 'www.glasgowcityofmusic.com', :target => '_blank' %>  </p>
