<div class = "row">

  <div class = "span8">

    <h1>Use <%= link_to 'Last.fm', "http://last.fm/" %> to Discover Glasgow artists you'll love!</h1> 
    <h2>Glasgow is a UNESCO City of Music</h2>

    <% for artist in @artists %>
      <%= image_tag artist.image('large') %>
    <% end %>
  
    <%= link_to 'Begin', lastfm_token_path, :class => 'btn btn-primary btn-large', :style => "font-size: 1.7em; padding: 20px; margin: 12px;"  %>
    
  </div>

  <div class = "span4">

    <%= image_tag 'rab.jpg' %>
  
    <p class = "bold">748 Artists w/ Last.fm data</p>
    <p class = "bold">3254 Tracks w/ Last.fm data</p>
    <p class = "bold">10,809 Last.fm tags</p>
    
  </div>

</div>


