<div class = "row">

  <div class = "span8">

    <h1>Use <%= link_to 'Last.fm', "http://last.fm/" %> to Discover Glasgow artists you'll love!</h1> 
    <h2>Glasgow, UNESCO City of Music</h2>
    <br/>
    <% for artist in @artists %>
      <%= link_to image_tag(artist.image('large'), :alt => artist.name), artist.url %>
    <% end %>
  
    <%= link_to 'Begin', lastfm_token_path, :class => 'btn btn-primary btn-large', :style => "font-size: 1.7em; padding: 20px; margin: 12px;"  %>
    <p style = "margin-top:1em;">This service does a lot of number crunching and is a little slow! It may take about 10 - 20 seconds to pull in and manage your data.</p>
    
  </div>

  <div class = "span4" id = "big">

    <%= image_tag 'rab.jpg' %>
  
    <p style = "font-size: 1.9em; font-weight:bold; margin: 1em 0em;">748 Artists w/ Last.fm data</p>
    <p style = "font-size: 1.9em; font-weight:bold; margin: 1em 0em;">3254 Tracks w/ Last.fm data</p>
    <p style = "font-size: 1.9em; font-weight:bold; margin: 1em 0em;">10,809 Last.fm tags</p>
    
  </div>

</div>


